<div class="d-flex shadow p-1 mb-5 bg-body-tertiary rounded bg-primary-subtle text-primary">
    <div class="p-1 w-100 mt-2 text-center fs-1" ><b> Make My Trip! </b></div>
    <div class="p-1 flex-shrink-1">
        <img src="https://media.istockphoto.com/id/1289333307/vector/india-flag-great-design-for-any-purposes-ashoka-chakra-vector-icon-green-india-flag-on-white.jpg?s=612x612&w=0&k=20&c=OQC_8SCxqaio2eKT0S-sHDuAwYqNK2Bb13HC0PuyvrQ="
        width="50" height="50">
        India
    </div>
  </div>
  
